#one {
  background-color: rgb(248, 103, 103);
  width: 400px;
  border-color: black;
  border-style: solid;
  text-align: justify;
  padding: 10px;
  border-left-style: dotted;
  border-width: 5px;
  color: aliceblue;
  margin: 10px;
}
#two {
  background-color: coral;
  width: 400px;
  border-color: black;
  border-style: solid;
  text-align: justify;
  padding: 10px;
  border-left-style: dashed;
  border-width: 5px;
  color: aliceblue;
  margin: 10px;
}
#three {
  background-color: greenyellow;
  width: 400px;
  border-color: black;
  border-style: solid;
  text-align: justify;
  padding: 10px;
  border-left-style: double;
  border-width: 5px;
  color: aliceblue;
  margin: 10px;
}
#static {
  top: 60px;
  left: 60px;
  position: static;
}
